/* GENERAL */

h1{
    text-align:center;
    margin:auto;
    position: absolute;
    top:23%;
    right: 20%;
    left: 20%;
    color:white;
}

h2{
    text-align:center;
    margin:auto;
    position: absolute;
    top:37%;
    right: 20%;
    left: 20%;
    color:white;
}




