{% extends "base.html.twig" %}
{% block title %}  A Propos {% endblock %}
{% block contenu %}
    <br/><br/>
    <h1 class="text-center"> A propos </h1>
    <br/><br/>
    <h2 class="text-center"> Nous sommes, Maziere Maxence et Bayon Fabien, tous deux étudiants à l'EPSI situé à Arras et ceci est notre projet de remplacement
        pour notre stage dù aux conditions actuelles du COVID-19 </h2>
    <br/><br/>
    <h3 class="text-center"> Il s'agit d'une solution applicative de remplacement permettant de gerer les reservations et de les afficher</h3>
    <h3 class="text-center">Ainsi vous pouvez creer des salles avec leurs caractères chacunes possédant des options respectives qui peuvent aussi être créées
        avec leurs caractéristiques </h3>
    <h3 class="text-center">Ce site repertorie aussi des associations afin de faciliter les futures réservations, qui peuvent être composées de toutes les informations dites précédent.</h3>
    <h3 class="text-center">Enfin, ces reservations s'affichent dans un calendrier</h3>
    <h3 class="text-center">Si vous avez des questions sur le site, vous pouvez nous contacter en vous référant à l'onglet "Mentions"</h3>
{% endblock %}