{% extends "base.html.twig" %}
{% block title %} A propos {% endblock %}
{% block style %} <link href="css/text.css" rel="stylesheet"> {% endblock %}
{% block pasCentre %}
<div class="container" style="margin-top : 40px;">
 <p><span style="margin-right : 20px;"></span> L’objectif de cette application est de permettre aux personnes malentendantes d’accéder, en différé, à des formations professionnelles non traduites en langue des signes.

Cette plateforme joue un rôle de pont avec le milieu professionnel en permettant aux personnes en situation de handicap d’accéder plus facilement au monde du travail à l’aide de formations digitales.

Nos collaborateurs, professionnels et bénévoles, seront heureux de vous assister à l’issue de vos séances de formation. Le but, simplifier l’apprentissage d’un métier en rendant ce dernier accessible à un plus grand nombre.

Une traduction à chacune des vidéos sera proposée, puis associée, afin de partager avec les apprenants les informations contenues dans les réunions.

Cette plateforme a pour vocation d’évoluer : des traductions en direct à l’aide d’interprètes, du multi-langue, ou toute autre possibilité envisageable.

Merci d’avoir suivi cette présentation et à bientôt sur notre plateforme <span style="font-weight : bold">« Sign Ha ! »</span>.</p> </div>
{% endblock %}

