{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Gestion Salle {% endblock %}
{% block contenu %}

    Liste des salles
    <div class="mx-auto" style="width: 1000px;">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nom</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            </tbody>
        </table>


    </div>
    <div class="mx-auto" style="width: 500px;">


        <form class="form-inline" >
            <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only"> Ajouter une salle</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Ajouter une salle">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Nom de la salle</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="Nom de la salle">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
        </form>
    </div>

{% endblock %}