{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block pasCentre %}

    <link href="css/styles.css" rel="stylesheet">

       <h1>
      <b> Bienvenue sur le site réalisé Maxence, Fabien et Noémie</b>
       </h1>

        <h2>
            Site de réservation de salles
        </h2>
        <img src="images/SalleFete.jpg" class="img-fluid">
        <div id="test" class="test"></div>


{% endblock %}