{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %}

       <h1>
      <b> Bienvenue sur le site Workshop</b>
       </h1>

        <h2>
            Site de traduction de vidéos en langage des signes
        </h2>



{% endblock %}