{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Mentions Légales {% endblock %}
{% block contenu %}

    <h2 class="text-center">Mentions légales</h2>
    <h5 class="text-center" style="padding: 50px"> Ce site a été créer par bayon fabien</h5>
    <h5 class="text-center" style="padding: 50px"> Avec l'aide de Mr Le gales</h5>
    <h5 class="text-center" style="padding: 50px"> Et hébergé sur cloud.arras-sio.com </h5>


{% endblock %}