{% extends "base.html.twig" %}
{% block title %} Mentions {% endblock %}
{% block style %} <link href="css/text.css" rel="stylesheet"> {% endblock %}
{% block pasCentre %}
<div class="card" style="width: 90%;margin : 20px;">
          <div class="card-body">
    <h1> Mentions Légales :</h1>

    <h3 style="padding-top: 10px;color: #18B3B3">Responsable et éditeur du site: <b>Sign Ha !</b></h3>
    
    <h4>Maxence <b>MAZIERE</b> / Loïc <b>LAMAILLE</b> / Aymeric <b>SENECHAL</b></h4>
    <h6>39 rue de la république - 62000 DAINVILLE / 273 rue du pré des rois - 62400 BETHUNE</h4>
    <h4>Tel : 06 95 39 07 62 / 06 51 70 72 41</h4>
    <h4>Email : <em>maxence.maziere@epsi.fr / loic.lamaille@epsi.fr / aymeric.senechal@epsi.fr </em></h4>
    <h3 style="padding-top: 10px;color: #18B3B3"> Hébergeur</h3>
    <h4>cloud.arras-sio.com</h4>
    <h4>Julien LE GALES</h4>
    <h4>Tel:</h4>
    <h4>Email : julien.legales@gmail.com </h4>
    </div>
    </div>
    {% endblock %}
