{% extends "base.html.twig" %}
{% block title %}  Ajouter des vidéos non traduites{% endblock %}
{% block contenu %}
        {% if form.modif is defined %}
            {% if form.modif == false %}
            <div class="mx-auto" style="width: 400px;">
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Echec de la modification</h1>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Erreur : {{form.message}}</h1>
            </div>
            {% else %}
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Modification réussie</h1>
            {% endif %}
        {% endif %}
       <div class="mx-auto" style="width: 500px">
            <form action="" method="post" enctype="multipart/form-data">
            <span style="font-weight : bold; font-size : 22px; margin-top : 10">Importez votre vidéo :</span>
            <input required type="file" class ="form-control" accept=".mp4,.MP4" name="video" id="video" /> <br>
            <input class="btn-primary" type="submit" class ="form-control" name="submit" value="Enregistrer" />
            </form>
        </div>
{% endblock %}