{% extends "base.html.twig" %}
{% block contenu %}
<button type="button" id="btTest">Test Ajax</button>
<span id="nb">0</span>
<br />Rafraichissement
<span id="rafraiche">0</span>
<ul></ul>
{% endblock %}